.background{
    height: 100vh;
}

.background img{
    width: 100%;
    opacity: 50%;
    object-fit: contain;
    border-radius: 0%;
    position: absolute;
}

.Login{
    margin-top: -595px;
    height: flex;
    position: absolute;
    background: none;
}

.Login input{
    margin-left: 200px;
    text-align: center;
    border-radius: 18px;
    width: 100px;
    background: rgb(215, 215, 156);
    color: black;
    border-width: 1px;
}

.SignUp{
    margin-top: -595px;
    height: flex;
    position: absolute;
    background: none;
    text-justify: right;
    left: auto;
    right: 0px;
}

.SignUp input{
    margin-right: 200px;
    text-align: center;
    border-radius: 18px;
    width: 100px;
    background: rgb(215, 215, 156);
    color: black;
    border-width: 1px;
}

.announces{
    position: absolute;
    height: 100px;
}

.SignUp-and-Login-Buttons{
    margin-top: -595px;
    margin-left: 500px;
    position: absolute;
}

.button-panel{
    background: rgb(181, 112, 0);
    width: 600px;
    position: absolute;
    align-items: center;
}

.SignUp-and-Login-Buttons input{
    text-align: center;
    border-radius: 18px;
    width: 100px;
    background: rgb(215, 215, 156);
    color: black;
    border-width: 2px;
    position: sticky;
}