<div class="background">
    <img src="./assets/images/Background.jpeg">
    
    <!--
    <div class="Login">
        <input type="Submit" class="loginButton" id="Login" routerLink="/login" value="Login">
    </div>
    <div class="SignUp">
        <input type="Submit" class="signUpButton" id="SignUp" routerLink="/signup" value="Sign Up">
    </div>
    -->
</div>

<header>
    
</header>

<body class="dropdown">
    <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="dropdown-content">
        <a href="login">Sign in</a>
        <a href="signup">Sign up</a>
    </div>
</body>

<footer>

</footer>