<div class="background">
    <img src="./assets/images/Background.jpeg">
    
    <!--
    <div class="Login">
        <input type="Submit" class="loginButton" id="Login" routerLink="/login" value="Login">
    </div>
    <div class="SignUp">
        <input type="Submit" class="signUpButton" id="SignUp" routerLink="/signup" value="Sign Up">
    </div>
    -->
</div>

<header>
    
</header>

<body class="SignUp-and-Login-Buttons">
    <body class="button-panel">
        <input type="Submit" class="LoginButton" id="Login" routerLink="/login" value="Sign In">
        <input type="Submit" class="SignUpButton" id="SignUp" routerLink="/signup" value="Sign Up">
    </body>
</body>

<footer>

</footer>