<div class="background">
    <img src="./assets/images/Background.jpeg">
    
    <!--
    <div class="Login">
        <input type="Submit" class="loginButton" id="Login" routerLink="/login" value="Login">
    </div>
    <div class="SignUp">
        <input type="Submit" class="signUpButton" id="SignUp" routerLink="/signup" value="Sign Up">
    </div>
    -->
</div>

<header>
    
</header>

<body class="dropdown">
    <button class="loginbtn" routerLink="/login" [hidden]="hidden_loginbtn"><i style="float:inline-start; line-height: 27px" class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> <span class="ml-1 " style="float:inline-end">Sign in</span></button>
    <button class="profilebtn" [hidden]="hidden_profilebtn">
        <div class="dropdown-content">
            <a href="my_profile">My Profile</a>
            <a href="my_announcements">My Announcements</a>
            <a (click)="removeCurrentUser()" href="/">Logout</a>
        </div>
        <span>F</span>
    </button>
    
    
</body>

<footer>

</footer>