<div class="outer">
    <img src="./assets/images/Background.jpeg">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-lg-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <a id="goback-main" routerLink="/">Main Page</a>
                        <h3 class="pt-3 font-weight-bold"><i>My Profile</i></h3>
                    </div>
                    <div class="panel-body p-3">
                       <form>
                        <div class="form-group pt-3">
                            <div class="input-field">
                                <span class="font-weight-bold">Name: </span>
                                <input type="text">
                            </div>
                        </div>

                        <div class="form-group pt-3">
                            <div class="input-field">
                                <span class="font-weight-bold" >Surname: </span>
                                <input type="text">
                            </div>
                        </div>

                        <div class="form-group pt-3">
                            <div class="input-field">
                                <span class="font-weight-bold" >CPF: </span>
                                <input type="text">
                            </div>
                        </div>

                        <div class="form-group pt-3">
                            <div class="input-field">
                                <span class="font-weight-bold" >Face Photo:</span>
                                <input type="file">
                            </div>
                        </div>

                        <div class="form-group pt-3">
                            <div class="input-field">
                                <span class="font-weight-bold" >ID Photo:</span>
                                <input type="file">
                            </div>
                        </div>
                       </form>
                    </div>
                </div>
                <div class="panel-v2 border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold"><i>Options</i></h3>
                    </div>
                    <div class="panel-body p-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>